/* style.css */
body {
    font-family: 'Kanit', sans-serif;
}

.tab-button.active {
    color: #3b82f6; /* blue-500 */
    border-color: #3b82f6; /* blue-500 */
}

.modal {
    display: none; /* Hidden by default */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.active {
    display: flex; /* Show when active */
    opacity: 1;
}

.row-selected {
    background-color: #fef9c3; /* yellow-100 */
}

#back-to-top-btn {
    transition: opacity 0.3s, visibility 0.3s;
}

#back-to-top-btn.hidden {
    opacity: 0;
    visibility: hidden;
}
